.header{
  color :antiquewhite;
  background-color:rgb(75, 46, 41);
  font-family: "Pacifico", cursive;
  font-size: 30px; 
  text-align: center;
  padding:10px;
}

.hero{
color:white;
background-color: rgba(62,39,35);
font-family:"Playfair Display", serif;
font-size:25px;
text-align: center;
padding: 40px;
}
.explore-our-menu{
 background-color:gold;
 padding:18px;
 color:white;
 margin-left:10px;
 margin-right:10px;
 border-radius: 0.5rem;
 font-family:"Playfair Display", serif;
 font-size:25px;
 cursor: pointer;
 transition: all 0.3s ease;
}
.explore-our-menu:hover {
  background-color:rgba(255,152,0,0.8);
  transform: scale(1.05);
}

.signature{
  font-size:47px;
  text-align:center;
  padding:4px;
  margin:auto;
 color:brown;
}
.classic{
  font-size:26px;
  color:chocolate;
}
.menu-section{
  background-color:rgb(247, 231, 207);
  padding:20px;
}
.menu-container{
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2px;
  background-color: rgb(247, 231, 207);
}
.menu-item{
  width:200px;
  background-color:saddlebrown;
  padding: 1.5rem;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

 .menu-item:hover{
  background-color:rgba(255,152,0,0.8);
  transform: scale(1.05); 
  }

 .bottom{
  background-color:rgb(75, 46, 41);
  padding:10px;
  color:white;
  text-align: center;
   font-size:22px;
}
a{
  text-decoration:none;
  color:gold;
}
.rich{
  font-size:20px;
  margin:auto;
  padding:15px;
}
.price{
  color:chocolate;
  font-size:20px;
}
